.container {
	margin: 30px auto;
}

.data {
	color: #5e6871;
	padding: 8px 24px;
	width: 50%;
	white-space: pre-wrap;
	border: 1px solid #74828f;
	box-shadow: 3px 3px 9px 0 #00000040;
}

.list {
	padding-left: 20px;
}

.inputButton {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 4px;
}

.list {
	list-style: none;
	padding: 0;
	margin: 0;
}

.listItem {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	padding: 4px 0 4px 24px;
}

.listItem::before {
	content: '•';
	position: absolute;
	left: 0;
	top: 50%;
	transform: translateY(-50%);
	color: black;
	font-size: 16px;
}

.icon {
	margin-left: 8px;
	cursor: pointer;
}

.button {
	height: 32px !important;
	font-size: 16px;
	padding: 0 !important;
}
