.ql-container{
  max-height: 30vh !important;
}

.ql-container, .ql-snow {
  border-radius: 8px;
}


.ql-snow {
  .ql-picker {
    &.ql-size {
      .ql-picker-label,
      .ql-picker-item {
        &::before {
          content: attr(data-value) !important;
        }
      }
    }
  }
}
