.container {
	margin-block: 30px;
}
.title {
	font-size: 20px;
	font-weight: 600;
}

.description {
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	width: fit-content;
	padding: 10px;
}

.description div {
	padding: 8px;
}

.data td {
	min-width: 38px;
}
