.login-container {
	display: flex;
	height: 100vh;
}

.login-form {
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #f5f7fa;
	padding: 2rem;
}

.header-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	gap: 20px;
}

.text-container {
	display: flex;
	flex-direction: column;
}

.login-form h2 {
	font-family: 'Inter', sans-serif;
	font-weight: 600;
	font-size: 1.5rem;
	margin-bottom: 0.5rem;
}

.login-form p {
	font-family: 'Inter', sans-serif;
	margin-bottom: 0.5rem;
}

.login-form form {
	width: 100%;
	max-width: 370px;
}

.input-group {
	margin-bottom: 2rem;
}

.language {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 15px;
}

.input-group label {
	font-weight: 700;
	font-size: 1rem;
	margin-bottom: 15px;
	display: block;
}

.input-icon {
	display: flex;
	align-items: center;
	background-color: #ffffff;
	border: 2px solid #e0e0e0;
	border-radius: 8px;
	padding: 0.2rem 5px;
	position: relative;
}

.input-icon svg {
	margin-right: 0.3rem;
	color: #888;
}

.input-icon input {
	border: none;
	outline: none;
	width: 100%;
	padding: 0.3rem 0;
	font-family: 'Inter', sans-serif;
	font-size: 1rem;
}

.input-icon input::placeholder {
	color: #888;
	padding-top: 0.2rem;
}

.visibility-icon {
	cursor: pointer;
	position: absolute;
	right: 0;
	padding-right: 0.5rem;
}

.remember-me-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
	width: 100%;
}

.remember-me {
	display: flex;
	align-items: center;
}

.remember-me input {
	margin-right: 0.5rem;
}

.forgot-password {
	text-align: right;
}

.forgot-password-button {
	font-weight: 600;
	text-decoration: none;
	color: #5320e3;
	background-color: transparent;
	border: none;
	padding: 0;
	position: relative;
	cursor: pointer;
	font-size: 1rem;
}
.forgot-password-button:hover {
	text-decoration: underline;
}
.login-form .submit-button {
	width: 100%;
	padding: 0.5rem;
	background-color: #4c4cff;
	color: #fff;
	border: 2px solid #4c4cff;
	border-radius: 7px;
	cursor: pointer;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
	margin-bottom: 1rem;
}
.button-google-custom {
	width: 100%;
	padding: 0.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
	background-color: #ffffff;
	border: 2px solid #e0e0e0;
	color: #1e1e1e;
	border-radius: 7px;
	cursor: pointer;
	font-family: 'Inter', sans-serif;
	font-weight: 500;
}
.login-form .submit-button:last-child {
	margin-bottom: 0;
}

.login-form .submit-button:hover {
	background-color: #3b3bcc;
}

.login-image {
	flex: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #fff;
	overflow: hidden;
}

.login-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

@media (max-width: 1024px) {
	.login-image {
		display: none;
	}
}
